body{
    background-color: black;
    color : white;
    font-weight : bold;
    font-family : 'Nanum Gothic';
}


.nav{
    border-bottom : 1px solid white;
    height : 50px;
}

#grid{
    display : grid;
    grid-template-columns: 550px 180px 1fr 550px;
    height : 50px;
}

.stock_title, .coin_title{
    text-align : center;
    font-size : 25px;
    margin-top : 5px;
}

.stock_title{
    margin-left : -150px;
}

.personal_information_button, .my_portfolio_button{
    font-size : 18px;
    border : none;
    font-weight : bold;
    color : white;
    background-color : black;
    margin-top : 7px;
}

.personal_information_button{
    color : red;
}

.my_portfolio_button{
    color : red;
}

#grid1{
    display : grid;
    grid-template-columns: 1fr 1fr;
    height : 100%;
}

.grid2{
    display : grid;
    grid-template-columns: 70px 200px 1fr;
}

img{
    width : 50px;
    height : 50px;
    border-radius : 25px;
}

.today_stock_rank1, .today_coin_rank1{
    margin-top : 35px;
}

.up{
    color : red;
}

.same{
    color : yellow;
}

.down{
    color : blue;
}

.today_stock_title , .today_coin_title{
    margin-top : 35px;
    font-size : 30px;
}

.today_stock_rank1_name, .today_coin_rank1_name{
    margin-left : 15px;
    margin-top : 15px;
    font-size : 20px;
}

.today_stock_rank1_price, .today_coin_rank1_price{
    margin-left : 200px;
    font-size : 18px;
}