body{
    background-color: black;
    color : white;
    font-weight : bold;
    text-align : center;
    font-family : 'Nanum Gothic';
}

.enter{
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}


table{
    color : white;
    font-weight : bold;
    font-size : 20px;
    border-spacing : 20px;
}

.start_button{
    width : 230px;
    height : 50px;
    border-radius : 25px;
    background-color : black;
    color : white;
    margin-top : 20px;
    border : 2px solid white;
    font-size : 30px;
    font-weight : bold;
}

table,  td{
    border : 1px solid white;
}