<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>얼간뱅크</title>
    <link rel="stylesheet" type="text/css" href="/css/find_password.css">
</head>
<body>
<script>
    alert('입력하신 아이디나 답변이 올바르지 않습니다. 다시 입력해주세요.');
</script>
<div class="nav">
    <div class="factory_name">
        <button type="button" class="factory_button" onclick="location.href='main.html'">얼간증권</button>
    </div>
</div>
<div class="main">
    <div id="grid">
        <div class="left">
        </div>
        <div class="center">
            <form action = "/find_password" method="post">
                <div class="find_password_title">
                    비밀번호 찾기
                </div>
                <div class="enter_id">
                    <input type="text" id="id" name="id" placeholder="아이디">
                </div>
                <div class="enter_password_confirm_question">
                    <select class="password_confirm_question_box" name="password_confirm_question">
                        <option value="location">기억에 남는 추억의 장소는?</option>
                        <option value="motto">자신의 좌우명은?</option>
                        <option value="treasure">자신의 보물 1호는?</option>
                        <option value="teacher">가장 기억에 남는 선생님의 성함은?</option>
                        <option value="character">내가 좋아하는 캐릭터는?</option>
                        <option value="date">가장 추억하고 싶은 날짜는?</option>
                        <option value="secret">타인이 모르는 자신만의 신체비밀이 있다면?</option>
                    </select>
                </div>
                <div class="enter_password_confirm_question_answer">
                    <input type="text" id="enter_password_confirm_question_answer" name="enter_password_confirm_question_answer" placeholder="비밀번호 답변">
                </div>
                <div class="find_password_complete">
                    <button type="submit" class="find_password_button">비밀번호 찾기</button>
                </div>
            </form>
        </div>
        <div class="right">
        </div>
    </div>
</div>
</body>
</html>