<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>얼간뱅크</title>
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <meta http-equiv="refresh" content="1000">
</head>
<body>
<div class="my_asset">
    <table class="tb_asset">
        <thead>
        <tr>
            <th>자산 종류</th>
            <th>기업 이름</th>
            <th>수량</th>
            <th>평균 단가</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stockAllList : ${stockList}">
            <td th:text="${stockAllList.kind}"></td>
            <td th:text="${stockAllList.company}"></td>
            <td th:text="${stockAllList.quantity}"></td>
            <td th:text="${stockAllList.average_price}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="plus">
    <button type="button" target="_blank" class="plus_button" onclick="window.open('/stock_add', '자산 추가하기',  'width=200', 'height=150', 'top=20', 'left=50')">추가하기</button>
</div>
</body>
</html>